:root {
  --background-color: #333;
  --light-color: #f4f4f4;
  --primary-color: #ffff33;
  --blue-color: #3399ff;
  --red-color: #e73c4e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background: var(--background-color);
  color: var(--light-color);
}
